.skills-section {
    padding: 80px 0;
    color: #fff;
    overflow: hidden;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFDD57;
    text-align: center;
}

.section-subtitle {
    text-align: center;
    color: #d4d4d4;
    margin-bottom: 40px;
}

.skills-marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.skills-track {
    display: flex;
    gap: 20px;
    animation: scrollSkills 15s linear infinite;
    will-change: transform;
}

.skill-pill {
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 35px;
    border-radius: 50px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.skill-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /* không cho co lại */
}

.skill-icon svg {
    width: 100%;
    color: #FFDD57;
    /* vàng */
    transition: color 0.3s ease;
}

.skill-pill:hover .skill-icon svg {
    color: #00ADD8;
    /* xanh Go khi hover */
}


.skill-name {
    font-size: 1rem;
    color: #fff;
}

/* Animation */
@keyframes scrollSkills {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}